body {
    background-color: bisque;
}
nav a{
    background-color: blue;
    color: bisque;
    padding: 2px;
}
#logout {
    background-color: black;
    color: bisque;
    border: none;
    text-decoration: none;
    padding: 5px;
}

#logout:hover{
    color: white;
    text-decoration: none;
}